In [2]:
import pandas as pd
import sqlite3
import numpy as np
import json

<ipython-input-2-36d5759db6bf>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
conn=sqlite3.connect('wdbc.data')
df=pd.read_sql('SELECT * FROM wdbc.data',conn)
df
data=pd.read.csv('wdbc.data')
data

<class 'pandas.errors.DatabaseError'>: Execution failed on sql 'SELECT * FROM wdbc.data': no such table: wdbc.data